<div class="jumbotron text-center" style="height: 97vh;">
    <h1 class="display-3">Thank You!</h1>
    <h2 class="text-success">Your order has been placed.</h2>

    <a href="/track-order" class="btn btn-link">Track order</a>
</div>